---
layout: default
---

<article class="post-container post-container--single" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="{{page.date | date: date_to_xmlschema}}" itemprop="datePublished" class="post-meta__date date">{{page.date | date: "%F"}}</time> &#8226; <span class="post-meta__tags tags">{{page.tags}}</span>
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <section class="post">
    {{ content }}
  </section>
</article>

<script type="text/javascript">
$(document).ready(function(){
    $('.post a').each(function(index,element){
        var href = $(this).attr('href');
        if(href.indexOf('#') == 0){
        }else if ( href.indexOf('/') == 0 || href.toLowerCase().indexOf('liyong.life')>-1 ){
            $(this).attr('target','_self');
        }else{
            $(this).attr('target','_blank');
        }
    });
});
</script>
